<h1 class="shadow p-3 mb-5 bg-body rounded">Este es un proyecto angular</h1>
<div>
  <table>
    <div class="row">
      <button class="btn btn-success">Apriétame</button>
      <span class="mt-2 shadow p-3 mb-5 bg-body rounded">
        <button class="btn btn-danger">Peligro</button>
        <button class="btn btn-warning">Juepucha</button>
        <button class="btn btn-primary">Valentina</button>
        <button class="btn btn-light">Yin</button>
        <button class="btn btn-dark">Yang</button>
      </span>
    </div>
  </table>
</div>