<div>
  <div class="container text-center">
    <h5 class="display-6 mt-5 shadow-lg p-3 mb-4">
        <i class="fas fa-home icono"></i>
        &nbsp;&nbsp;Es el momento de tener el hogar de tus sueños...&nbsp;&nbsp;
        <i class="fas fa-home icono"></i>
    </h5>
    <p class="lead mt-1">
      Da click en el botón de abajo para llenar el formulario
      y contactarnos contigo.
    </p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary shadow-lg p-3 mb-5 mt-2" data-bs-toggle="modal" data-bs-target="#formulario">
      Llenar formulario
    </button>
  </div>
</div>

